.login-button {
  height: 50px;
  width: 250px;
  background-size: 250px 50px;
  background-repeat: no-repeat;
  display: inline-block;
}


/* Center the mat-card on the screen */
.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use full viewport height */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  align-items: center;
}
.title {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  font-family: Calibri, sans-serif;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


button.mat-raised-button {
  min-width: 120px;
  margin: 5px;
}
